a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    color: black;
}
.wrapper {
    width: 95%;
    margin: 0 2.5%;
    /* width: 960px;
    margin:0 auto; */
}

body {
    background-color: #ecf0f1;
}

.subtitulosM {
    width: 95%;
    margin: 0 2.5%;
}

.funo{ font-size: 2.81em;}
.fdos{font-size: 1.56em;}
.ftres{font-size:1.25em;}
.fcuatro{font-size:1em;}

@font-face {
	font-family: 'caviardreams';
	src: url('../fonts/CaviarDreams.eot');
	src: local('☺'), url('../fonts/CaviarDreams.woff') format('woff'), url('../fonts/CaviarDreams.ttf') format('truetype'), url('../fonts/CaviarDreams.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geosans';
	src: url('../fonts/GeosansLight.eot');
	src: local('☺'), url('../fonts/GeosansLight.woff') format('woff'), url('../fonts/GeosansLight.ttf') format('truetype'), url('../fonts/GeosansLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'coolvetica';
	src: url('../fonts/coolvetica rg.eot');
	src: local('☺'), url('../fonts/coolvetica rg.woff') format('woff'), url('../fonts/coolvetica rg.ttf') format('truetype'), url('../fonts/coolvetica rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ---------------------------------------------- HEADER --------------------------------------------- */

main {
    font-family: 'coolvetica';
}

header, footer {
    font-family: 'caviardreams';
}

header {
    width: 100%;
    float: left;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.logo {
    width: 20%;
    margin-left: 2%;
    padding-top: 20px;
    height: 100px;
    float: left;
}

.logo img {
    width: 85%;
}

.naming {
    width: 54%;
    padding-top: 40px;
    float: left;
}

.fotouser {
    padding-top: 20px;
    text-align: center;
    width: 21%;
    float: left;
    margin-right: 1%;
}

.fotouser img {
    border-radius: 50%;
    width: 83%;
}

/* -------------------------------------------- FIN HEADER ------------------------------------------- */


/* ---------------------------------- INICIO VISTA DE IMAGEN PRINCIPAL ------------------------------- */

.headerimagen {
    float: left;
    width: 100%;
    margin-bottom: 1%;
}

.headerimagen img {
    max-width: 100%;
    height: 140px;
    width: 4000px;
    margin-top: 25px;
}


.main { /* centrar */
    width: 50%;
    margin-left: 20%;

}

/* ------------------------------------ FIN DE VISTA IMAGEN PRINCIPAL -------------------------------- */


/* -------------------------------- INICIO VISTA DE TODAS LAS GALERIAS --------------------------------*/


.imagenesgalerias {
    /*width: 100%; Esta propiedad no se aplica con el media query de pantalla de ordenador */
    float: left;
    margin-bottom: 25px;
    margin-top: 25px;
    min-height: 400px;
}

.block {
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-right 2%;
}

.block img {
    max-width: 100%;
    max-height: 100%;
}


/* ------------------------------- FIN DE VISTA DE TODAS LAS GALERIAS -------------------------------- */


/* -------------------------------------- INICIO VISTA DETALLE --------------------------------------- */


.fondocolor {
    background-color: #ecf0f1;
}

.centrar {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 0%;
}

.centrar table {
    margin-left: 23%;
}

.centrar ul {
    margin-right: 8%;
}

.valoEstr {
    position: relative;
    top:305px;
    left:38%;
    
}
.search {
    float: left;
    width: 100%;
    padding-top: 5px;
}

.search input {
    width: 100%;
    height: 60px;
}


.descripcion {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 6%;
}

.cuadro {
    float: left;
    width: 100%;
}

.cuadro img {
    width: 100%;
}

.mapa {
    width: 100%;
    float: left;

}

.mapa iframe {
    width: 100%;
    height: 400px;
}

.evento1 {
    float: left;
    width: 100%;
}

.col-izda {
    float: left;
    width: 50%;
}

.col-dcha {
    float: left;
    width: 50%;
}

/* ------------------------------------------ INICIO COMENTARIOS --------------------------------------*/

.comentuse {
    width: 100%;
    float: left;
}


.blockcomMovil {
    width: 100%;
    float: left;
}

.mvTop {
    width: 100%;
    float: left;
}

.mvImg {
    width: 20%;
    float: left;
}

.mvImg img{
    max-width: 100%;
    border-radius: 50%;

}

.mvNomb {
    width: 50%;
    float: right;
}

.center {
    width: 100%;
    float: left;
    align-content: center;
    text-align: center;
}


/* ---------------------------------------------- FIN VISTA DETALLE ---------------------------------- */


/* ----------------------------------------- PERFIL USUARIO ------------------------------------------ */

#atrasperfil {
    padding-top: 20px;
    padding-left: 3%;
    width: 21%;
    float: left;
}

#atrasperfil img {
    width: 80%;
    text-align: center;
}

.descripcionuser {
    width: 100%;
    float: left;
}

.section {
    width: 100%;
    float: left;
    text-align: center;
}

.bloquep {
    width: 40%;
    padding: 0 5%;
    float: left;
    text-align: left;
}

.bloquep img {
    border-radius: 50%;
    max-width: 100%;
}

.bloquep.dat {
    text-align: left;
    width: 30%;
    float: left;
}

.editargal {
    width: 100%;
    float: left;
}
.dropdown-toggle{
    width: 100%;
}
.dropdown-menu{
    display: none;
    width: 100%;
    height: 100px;
}

.dropdown-toggle:hover + .dropdown-menu{
    display: inline-block;
}
/* --------------------------------------------- FIN PERFIL -------------------------------------------*/

/* ---------------------------------------- INICIO SIGN IN ----------------------------------*/

.vidgal {
    width: 100%;
    padding-top: 50px;
    float: left;
}

.vidgal video {
    width: 95%;
    float: left;
    margin: 0 2.5%;
}

.formsign {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    padding-bottom: 50px;
    float: left;
}

.etiq {
    width: 100%;
    height: 25px;
    padding: 15px 0;
    float: left;
}

.etiq label {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.campoformulario {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.campo-1 {
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

.botonsign {
    width: 100%;
    float: left;
}

.botonsign input {
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

.registrate {
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botreg {
    background-color: #242020;
    border-style: solid ;
}

#botreg a {
    color: white;
    width: 100%;
}

/* --------------------------------------------- FINAL SIGNIN ---------------------------------------*/


/* --------------------------------------------- INICIO FORMULARIO ------------------------------------*/

.title-1{
    width: 100%;
    float: left;
    text-align: center;
}
.campo {
    width: 100%;
    float: left;
    height: 40px;
}


#birth {
    width: 22%;
    height: 40px;
}

.botonesradio {
    width: 90%;
    padding: 0 5%;
    float: left;
}

.fcontainer {
    width: 100%;
    float: left;
    height: 20px;
    padding-bottom: 5px;
}

.botonescheck {
     width: 90%;
    padding: 0 5%;
    float: left;
}

#botonenviar {
    width: 98%;
    margin: 0 1%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
}

.deco-1{
        padding: 20px 0;
        width: 45%;
        display:inline-block;
        float: left;
    }
.deco-1 img{
        max-width: 100%;
    }


/* ------------------------------------------ FIN FORMULARIO ------------------------------------------*/
/* -------------------------------------- GESTION----------------------------------------------- */


/*--------------------------GESTION.HTML---------------------*/

#myForm .error {
  color: #ff0000;
}

.gestmedio{
    width: 50%;
    float:  left;
    text-align: center;
}

/*--------------------------FINAL GESTION.HTML---------------------*/

/* ---------------------------------------------- FOOTER --------------------------------------------- */

footer {
    width: 100%;
    float: left;
    padding-top: 15px;
    /*background-color: #2a2a2a;*/
    color:white;
}

footer p {
    width: 25%;
    float: left;
    margin:5px 0;
}

.fondofooter{
    width: 50%;
    margin: 0 25%;
}

.legal {
    text-align: center;

}

.iconosocial {
    width: 20%;
    margin: 0 40%;
    padding: 50px 0;
    float: left;

}
.iconosocial img {
    width: 100%;
}


/* Footer en linea */
.footer-bottom {
    background-color: #333;
    min-height: 30px;
    width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons > li {
    display: inline-block;
}

.social-icons > li > a {
    background: #f5f5f5;
    display: block;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    height: 32px;
    width: 32px;
    color: #777777;
}

.social-icons > li > a:hover,
.social-icons > li > a:focus {
    background: #7f8c8d;
    color: #ffffff;
}

.social-icons-md > li > a {
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.social-icons-round > li > a {
    border-radius: 2px;
}
/* Footer en linea */


/* --------------------------------------------- FIN FOOTER ------------------------------------------ */


/* ------------------------------------------- MEDIA QUERIS ------------------------------------------ */

@media only screen
  and (max-device-width: 480px) {
    /* HEADER */
      .naming {
      padding-top: 20px;
      }
/* FOOTER */
    .fondofooter {
        width: 60%;
        margin: 0 20%;
        float: left;
    }

      .legal p{
          width: 100%;
      }

    .iconosocial {
    width: 70%;
    margin: 0 15%;
      }
/* FORMULARIO */
    .deco-1{
        display: none;
    }

    }

@media only screen
  and (min-device-width: 481px) and (max-device-width: 800px) {

}

@media only screen and (min-device-width: 801px) {


    /* INDEX -------- */
    .block {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
      }

    .imagenesgalerias {
        width: 50%;
      }


    /* SIGN IN---------- */

    .vidgal {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}

   .vidgal video {
    width: 95%;
    float: left;
    margin: 0 2.5%;

}
    .formsign {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}
    .registrate {
    width: 40%;
    margin: 0 5%;
    margin-top: 3px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
    /* FORMULARIOS */

    .formularioreg{
        padding: 20px 0 50px 0;
        width: 45%;
        margin: 0 5%;
        float: left;
    }

    .formulariogestion{
        padding: 20px 0 50px 0;
        width: 45%;
        margin: 0 5%;
        float: left;
    }

    /* VISTA DETALLE */

.mediovg {
    width: 50%;
    float: left;
}

.descripcion  {
    width: 95%;
    float: left;
    margin-top: 8%;
}
.nombreg{
    max-width: 100%;
}

.valoEstr {
    position: fixed;
    top:320px;
    left:42%;
    
}

.colocarGal{
    margin-top: 3%;
}

.centrar table {
    margin-left: 25%;
    margin-top: 5%;
}
.centrar ul {
    margin-left: 4%;
}

.cuadro {
    margin-top: 5%;
}

/* Comentarios */

.mvTop {
    width: 100%;
}
.mvImg img {
    max-width: 50%;
}

.mvNomb {
    float: left;
}
   /* .medio{
        width: 48%;
        float:left;
        margin-right: 2%;
    }  */
}

/* --------------------------------------- FIN MEDIA QUERIS ------------------------------------------ */
