a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.wrapper{
    width: 95%;
    margin: 0 2.5%;
    /* width: 960px;
    margin:0 auto; */
}

.subtitulosM {
    width: 95%;
    margin: 0 2.5%;
}

.funo{ font-size: 2.81em;}
.fdos{font-size: 1.56em}
.ftres{font-size:1.25em;}
.fcuatro{font-size:1em;}

@font-face {
	font-family: 'caviardreams';
	src: url('../fonts/CaviarDreams.eot');
	src: local('☺'), url('../fonts/CaviarDreams.woff') format('woff'), url('../fonts/CaviarDreams.ttf') format('truetype'), url('../fonts/CaviarDreams.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geosans';
	src: url('../fonts/GeosansLight.eot');
	src: local('☺'), url('../fonts/GeosansLight.woff') format('woff'), url('../fonts/GeosansLight.ttf') format('truetype'), url('../fonts/GeosansLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'coolvetica';
	src: url('../fonts/coolvetica rg.eot');
	src: local('☺'), url('../fonts/coolvetica rg.woff') format('woff'), url('../fonts/coolvetica rg.ttf') format('truetype'), url('../fonts/coolvetica rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* header______________________________________*/
main{
    font-family: 'coolvetica';
}
header, footer{
    font-family: 'caviardreams';
}
header{
    width: 100%;
    float: left;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.logo{

    width: 20%;
    margin-left: 2%;
    padding-top: 20px;
    height: 100px;
    float: left;
    
}
.logo img{
    width: 85%;
}
.naming{
    width: 54%;
    padding-top: 20px;
    float: left;
}

.fotouser{
   padding-top: 20px;
    text-align: center;
    width: 21%;
    float: left;
        
   margin-right: 1%;
    
    
}
.fotouser img{
    border-radius: 50%;
    width: 83%;
    
    
}

/* FIN HEADER_______________________*/


body {
    background-color: #ecf0f1;

}

/* INICIO VISTA DE IMAGEN PRINCIPAL */

.headerimagen {
    float: left;
    width: 100%;
    margin-bottom: 1%;
}

.headerimagen img {
    max-width: 100%;
    margin-top: 25px;
}


.main{ /* centrar */
    width: 50%;
    margin-left: 20%;
    
}

/* FIN DE VISTA IMAGEN PRINCIPAL */



/* INICIO VISTA DE TODAS LAS GALERIAS */



.imagenesgalerias {
    width: 100%;
    float: left;
    margin-bottom: 25px;
    margin-top: 25px;
}

.block {
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-right 2%;
}

.block img {
    max-width: 100%;
    max-height: 100%;

}


/* ----------- FIN DE VISTA DE TODAS LAS GALERIAS ----------- */

/* ----------- ESTILO VISTA DETALLE ------------- */


.fondocolor {
    background-color: #ecf0f1;
}
.centrar {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 0%;
}

.search{
    float: left;
    width: 100%;
    padding-top: 5px;
}
.search input{
    width: 100%;
    height: 60px;
}
.nombreg{
    font-size: 60px;
     
}
.nombreg h2{
    line-height: 0;
}
.valoracion {
    float: left;
    width: 100%;
}
.valoracion img {
   max-width: 20%;
    
}

.descripcion {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.descripcion p{
    font-size: 25px;
}
.cuadro {
    float: left;
    width: 100%;
}

.cuadro img {
    width: 100%;
   
}

/*
.mapa img{
    width: 50%;
    transition: transform 10s;
}

.mapa#map:hover {
    transform: scale(1.5)
}
*/

.evento1{
    float: left;
    width: 100%;
    }

.col-izda{
    float: left;
    width: 50%;
}

.col-dcha {
    float: left;
    width: 50%;
}

/* Comentarios ___________________________________*/
.blockcom{
    width: 100%;
    float: left;
}

article{
    width: 100%;
    margin: 0 2%;
    padding: 20px 0;
    float: left;
}

.userpic{
    width: 20%;
    margin: 0 5%;
    float: left;
}

.userpic img{
    border-radius: 50%;
    height: 250px;
}
.usercom{
    width: 65%;
    margin: 0 2.5%;
    float: left;
}
.usercom p{
    text-align: left;
    font-size: 25px;
}

.comentuse {
    width: 100%;
    float: left;
    }
 
.comentuse h1{
    text-align: center;
    font-family: serif;
}
.center {
    width: 100%;
    float: left;
    align-content: center;
    text-align: center;
}

.Strellitas{
    max-width: 20%;
    /*margin-left: 41%;*/
    
}

/* Efecto Hover en Comentarios */

.hovcom {
    display: none;
}

.hovcomon#mascom:hover + .hovcom#restcom{
    display: inline-block;
}


/*
.DP h3{
    font-size: 18px;
    height: 1px;
    
}

.DP h5{
    font-size: 10px; 
    
}

.comenttext p {
    text-align: justify;
    font-size: 20px;
}

.titulocoment{
    float: left;
    width: 100%;
    
}

.DP { float: left;
    width: 76%;
    margin-left:10%; 
  
    font-family: fantasy;
    margin-top: 20px;   
}

.like{
    width: 33%;
    float: left;
}
.like img {
    float: left;
    width: 12%;
    
}

.feedback {
    
    width: 100%;
    float: left;
    padding-bottom: 14%;
}
.dislike{ 
    width: 33%;
    float: left;
}

.dislike img {
    width: 17%;
    float: left;
    
}

.coment{
    width: 33%;
    float: left;
    
}

.coment img {
    width: 50%;
}

.logo img{
    width: 100%;
}

.center{
    text-align: center;
}

.Strellitas {
    max-width: 23%;
  padding-bottom: 12%
      padding
    
}

/* --------------- EVENTOS HOVER ------------*/
.desplegar{
    font-size: 25px;
}
.textevent{
    height: 70px;
    background-color: lightslategrey;
}
.ordevent{
    display: none;
    
}

.texevent#evento:hover{
    background-color: black;
    color: white;
}
.texevent#evento:hover + .ordevent#lista{
    display: inline-block;
}

/* --------------- FIN EVENTOS HOVER -----------*/

 
/* --------------- FIN VISTA DETALLE --------------- */

/* PERFIL USUARIO____________________________________*/

#atrasperfil{
    padding-top: 20px;
    padding-left: 3%;
    width: 21%;
    float: left;
    
}

#atrasperfil img{
    width: 80%;
    text-align: center;
}

.descripcionuser{
    width: 100%;
    float: left;

}
.section{
    width: 100%;
    float: left;
}
.bloquep{
    width: 30%;
    padding: 0 10%;
    float: left;
    text-align: left;
    
}
.bloquep img{
    border-radius: 50%;
    max-width: 100%;
    
}

.bloquep.dat{
    text-align: left;
    width: 30%;
    float: left;
    
}
.section h3{
    text-align: center;
    font-size: 30px;
}

.editargal{
    width: 100%;
    float: left;
}

/*
.fotouser{
   padding-top: 20px;
    text-align: center;
    width: 21%;
    float: left;
        
   margin-right: 1%;
    
    
}
.fotouser img{
    border-radius: 50%;
    width: 83%;
*/

/* FIN PERFIL USUARIO____________________________________*/


/* PANTALLA SIGN IN____________________________________*/

.vidgal{
    width: 100%;
    padding-top: 50px;
    float: left;
}

.vidgal video{
    width: 95%;
    float: left;
    margin: 0 2.5%;
}
.formsign{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    padding-bottom: 50px;
        
    float: left;
}
.etiq{
    width: 100%;
    height: 40px;
    float: left;
}
.etiq label{
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.campoformulario{
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
#username{
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}
#userpass{
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

.botonsign{
    width: 100%;
    float: left;
    
}
.botonsign input{
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

.registrate{
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
      
}
#botreg {
    background-color: #0089ff;
    font-size: 30px;
    border-style: solid ;
}
#botreg a{
    width: 100%;
}
/* FINALLLLLLLLLLLLLPANTALLA SIGN_____________________*/

/* FORMULARIO FORMULARIO_____________________________*/

.campo{
    width: 98%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

#birth{
    width: 20%;
    margin: 0 1%;
    margin-top: 3px;
    height: 40px;
}

.botonesradio{
    width: 100%;
    padding: 0 5%;
    float: left;
}

.botonesradio p{
    font-style: bold;
}
.container{
    width: 100%;
    float: left;
    height: 20px;
    padding-bottom: 5px;
}

.botonescheck{
     width: 100%;
    padding: 0 5%;
    float: left;
}
#botonenviar{
    width: 98%;
    margin: 0 1%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
}





/* FINALLLLLLLLLLL FORMULARIO_________________________*/

/* ----------- FOOTER ----------- */

footer{
    width: 100%;
    float: left;
    padding-top: 15px;
    background-color: #2a2a2a;
}

footer p{
    width: 100%;
    float: left;
    margin:5px 0;
}

.fondofooter{
    width: 60%;
    margin: 0 20%;
    float: left;
    
}
.legal{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: white;
    font-style: bold;   
}

.iconosocial{
    width: 80%;
    margin: 0 10%;
    float: left;
    text-align: center;
}
.iconosocial img{
    width: 100%;
    float: left;
    padding: 50px 0;
}

/* ----------- FIN FOOTER ----------- */

/* MEDIA QUERIS */

@media only screen 
  and (max-device-width: 480px) {

}

@media only screen 
  and (min-device-width: 481px) and (max-device-width: 800px) {
	
}

@media only screen and (min-device-width: 801px) {
      .block {
          width: 49%;
          margin-left: 0.5%;
          margin-right: 0.5%;
      }
      
      .imagenesgalerias {
          width: 50%;  
      }
}

/* MEDIA QUERIS */